* {
    /* background-image: url("../images/images.jpeg");
    background-repeat: no-repeat; */
}

/* body #background {
    background-image: url("./assets/images/images.jpeg");
    background-color: black;
    height: 500px;
} */

body {
    background-color: lightgray;
    background-image: url("../images/images.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

/* #background {
    background-image: url("../images/images.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px;
} */

header {
    text-align: center;
    height: 500px;
    
}

h1 {
    font-family: serif;
    color: black;
    font-size: 25px;
    font-weight: normal;
    margin-top: 100px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 70px;
    margin: 20px;
}

nav ul li {
    display: inline;
    font-family: serif;
    color: black;
    font-size: 40px;
    margin: 110px;
}

main {
    /* margin-top: 50px; */
}

img {
    height: 200px;
    width: 300px;
}