* {
    /* background-image: url("../images/images.jpeg");
    background-repeat: no-repeat; */
}

body {
    background-color: lightgray;
    background-image: url("../images/images.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

header {
    text-align: center;
    height: 500px;
    
}

h1 {
    font-family: serif;
    color: black;
    font-size: 25px;
    font-weight: normal;
    margin-top: 100px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 70px;
    margin: 20px;
}

nav ul li {
    display: inline;
    font-family: serif;
    color: black;
    font-size: 40px;
    margin: 110px;
}

.projects,
 .about {
    background-color: #050612;
    padding: 20px;
    height: 450px;
    
}

#projectalign {
    display: flex;
    margin-top: 20px;
}

#horiseon {
    height: 400px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

#sample {
    clear: both;
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
    

}

img {
    height: 180px;
    width: 300px;
    margin: 5px;
    padding: 0px;
}

.about {
    margin-top: 150px;
    display: flex;
}

#aboutalign {
    display: flex;
}

#aboutimage {
    height: 300px;
    width: 25%;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 50px;
    margin-left: 40px;
}

#p {
    /* display: flex;
    flex-wrap: nowrap; */
    
}

p {
    margin-top: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* clear: both;
    float: right; 
    display: flex;
    flex-wrap: wrap; */
    display: block;
    margin-left: 30px;
    width: 100%;
}

footer {
    background-color: transparent;
    padding: 20px;
    height: 100px;
    margin-top: 50px;
}

.contact {
    text-align: center;
}

.contact ul {
    margin-top: 100px;
}

footer li {
    display: inline;
    font-family: serif;
    color: black;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.contact li a {
    color: black;
    text-decoration: none;
}